<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<h1> All my blogs </h1>

{% for blogPost in blogPosts %}

<div class="card w-50" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{blogPost.name}} by {{blogPost.author}}</h5>
          <p class="card-text">
                <p> Date: {{blogPost.date}}</p>
                <p> Description: {{blogPost.description}} </p>
                
        
          <a href="post/{{blogPost.id}}" class="btn btn-primary">Link to Post</a>
        </div>
</div>

{% endfor %}</p>




